*{
    margin:0;
    padding: 0;
    box-sizing: border-box;


} 
.main{
    background-color: transparent;
   
}
body{
    background-color:#FBD9D3;
} 
.Overview{
    background-color:pink;
    color:#FE6066;
    padding:10px;
}

.navbar { 
   background-color: #E53E3E;
   padding: 20px;
   box-shadow: 0 2px 5px rgba(0,0,0,0.1);


}
.nav-container{
    max-width: 1200px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#E53E3E;
}

.nav-links {
    display: flex;
    list-style: none;
    gap:30px;
    color: blue;
} 
.nav-links a {
    color: pink;
    text-decoration: none;
    font-size:18px;
    padding: 10px 20px;
    border-radius: 20px;

}

.nav-links a:hover {
    background-color: rgba(255,255,255,0.2)

}
.nav-links a.active {
    background-color: rgba(255,255,255,0.3) ;
    color: white;
   
}

.logo {
    color: White;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}
.container-grid{
    max-width: 1200px; 
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.hero-title{
    Font-size: 2.5em;
    color: #FE6066;
    margin-bottom:20px;
    text-align: center; 


} 
.hero-subtitle { 
    color: #FF8381;
    text-align: center;
    font-size: 2em; 
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    margin: 0 auto;
    animation: typing 3s steps(20, end) forwards, erase 2s steps(20, end) 3s forwards, continuous-type 5s steps(20, end) 6s infinite;
}
.hero-subtitle::after {
    content: '';
    border-right:3px solid #ff8381;
    animation: blink-caret 0.75s step-end infinite;
    
}
@keyframes typing{
    from {width:0;}
    to {width: 100%}
}
@keyframes erase{
    from {width:100%;}
    to {width: 0;}

}
@keyframes continuous-type{
    0% {width: 0;}
    40% {width: 100%;}
    60% {width: 100%;}
    100% {width: 0;}
}

/*@keyframes blink-caret{
    from, to {border-color: transparent; }
    50% {border-color: #ff8381; }
} */

.main-title{
    color: #FE5A55;

}
.main-subtitle{
    color:#FF8381;
}

.content-grid {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:30px;
    margin-top: 30px;
}
    
.content-card{
    background:white;
    border-radius:15px;
    padding:30px;
    box-shadow:0 8px 32px ;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
} 

.footer{
    text-align: center;
    padding: 20px;
    font-style: italic; 
    color:#FE5A55;
    background-color:pink; 
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    width: 100%;

}